<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fyp.leungww.exsplit" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".ExSplitApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_facebook_login" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".AddTravellerActivity"
            android:label="@string/title_activity_add_traveller" />
        <activity
            android:name=".AddItemActivity"
            android:label="@string/title_activity_add_item" >
        </activity>
        <activity
            android:name=".EditItemActivity"
            android:label="@string/title_activity_edit_item" >
        </activity>
        <activity
            android:name=".AddANewBillStep2Activity"
            android:label="@string/title_activity_add_anew_bill_step2" >
        </activity>
        <activity
            android:name=".OCRTest"
            android:label="@string/title_activity_ocrtest" >
        </activity>
        <activity
            android:name=".TheBillActivity"
            android:label="@string/title_activity_the_bill" >
        </activity>
        <activity
            android:name=".SelectPhotoActivity"
            android:label="@string/title_activity_select_photo" >
        </activity>
    </application>

</manifest>
